@import "./reset.css";




  header {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    position: relative;
    max-width: 1300;
  }

header ul {
  display: flex;
  gap: 10px;
  }

header ul li a:hover { color: red; }

#hamburger {
  display: none; 
  cursor: pointer;
}
#closeMenu {
  display: none; 
  cursor: pointer;
}

main {

  /* background: #ccc; */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 40px 0px;
  margin: 40px 0px;
  max-width: 1300px;
}

main div {
  width: 260px; 
  height: 300px; 
  background: #ddd;
  display: grid;
  place-items: center;
  font-size: 2rem;
  }

@media (max-width: 1400px) {
  header {max-width: 1400p;}
  }
@media (max-width: 960px) {
  body {padding: 0 8px; overflow: auto;}
}

@media (max-width: 360px) {

  header{
    position: fixed;
    top: 0px;
    left: 0px;
  }
  header ul {
    
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #ddd;
    width: 100%;
    height: 100vh;
}
  #hamburger {display: flex;}
  #closeMenu {display: flex;}

}